<div class="container" id="profile_container">
<div class="row">
    <h2  id="profile_title"> User Profile</h2>
</div>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-6" id="user_info">
    
    <h4 class="user_attr">User Name: </h4>
    <p class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></p>
    <h3 id="username_profile"> <%= current_user.username %> </h3>
    <br/>
    <br/>
    <br/>
    <br/>
    <h4 class="user_attr">Avatar & Account Settings: </h4>
    <h4 id="my_account_link"><%= link_to 'Add & Edit Account', main_app.edit_user_registration_path, :class => "user_details" %></h4>
    <h4 class="user_attr">User Email: </h4>
    <h4 class="user_details"> <%= current_user.email %> </h4>
    <h4 class="user_attr"> My Subjects: </h4>
    <ul class="nav nav-stacked" id="user_list">

         <% current_user.subjects.each do |subject|%>
        <li ><a  href="#"><%= subject.name %></a></li>
        <% end %>
    </ul>
    <h4 class="user_attr"> My Courses: </h4>
    <ul class="nav nav-stacked" id="user_course">
        <% current_user.courses.each do |course|%>
          <li><%= link_to course.name, course_path(course) %><span id="uni_title"><%= University.find(course.university_id).name %></span></li>

          <button type="button" class="btn btn-default btn-sm" id="trash_delete">
            <div class="fa fa-trash-o"></div> Delete
          </button>
    
          <br><br>
        <% end %>
    </ul>
  </div>
  <div class="col-md-1">
  </div>
  </div>
 