<div class="border-form-div">
<%= form_for @discussion do |f| %>
	<% if @discussion.errors.any? %>
		<div id="errors">
			<h2><%= pluralize(@discussion.errors.count, "error") %> prevented this discussion from saving:</h2>
			<ul>
				<% @discussion.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<%= f.label :title %><br>
	<%= f.text_field :title %><br>
	<br>
	<%= f.label :body %><br>
	<%= f.text_field :body %><br>
	<br>
	<%= f.submit %>
<% end %>
</div>