<div class="col-md-2">
	<%= render('layouts/sidebar.html.erb') %>
</div>
<div class="container">
	<img src='<%= asset_path( @discussion.image) %>' id="image_blog" class="img-responsive">
	
	<article>
        <div class="container">
            <div class="row">
                <div class="col-lg-7  col-md-10 col-md-offset-1">
                <h2 class="lead title_dashboard"><%= @discussion.title %></h2>
                	<p>
						<% if user_signed_in? %>
							| <%= link_to 'Edit', edit_discussion_path(@discussion) %> |
						  <%= link_to 'Delete', discussion_path(@discussion), method: :delete, data: { confirm: 'Are you sure?' } %>
	 					 <% end %>
					</p>
					<%= @discussion.body %>
				</div>
            </div>
        </div>
	</article>
</div>

