<body>

<div class='row'>
<div class='col-md-4'></div>
<div class='col-md-4'>
<div class="jumbotron jumbotron-flat">

<div class='row'>
<h2>Find the Course for You</h2>
<hr class="featurette-divider"></hr>

<form id="search_form">
<div class='col-md-12'>

	Region    
	<select id="country" type="text" name="country" >
			<option value="All">All</option>
			<% @countries.each do |country| %>
				<option value="<%= country.id %>"><%= country.country_name %></option>
			<% end %>
	</select>


	University 
	<input id="university_name" type="text" name="university_name">

</div>
</div>

<br>

	Course 
	<input id="course_name" type="text" name="course_name">

<br><br>

	IB points 
	<input id="ibminimum" type="text" name="ibminimum" value="0"> - <input id="ibmaximum" type="text" name="ibmaximum" value="45">

<br><br>

<button class="btn btn-primary ladda-button" data-style="expand-right" type="submit">
        <span class="ladda-label"> Search </span>
    </button>
</form>

</div>
</div>
</div>

<div class='col-md-3'></div>
<div class='col-md-6'>
<div class='row'>
<div id="results">
		<% @universities.each do |university| %>
			<div id="border">
				<h1 id="univeristy_title"><%= university.name %> <img id="uni_picture" src=<%= university.image %>></a></h1>
				<ul>
						<% university.courses.each do |course| %>
							<li id="list"><%= link_to course.name, course_path(course) %></li>
							<% end %>
				</ul>
					<%= link_to "+ Find more courses in this university", university_path(university), :method => 'post',:id => "show_more", :class => "btn btn-primary ladda-button" %>
			</div>
		<% end %>
</div>
</div>	

</body>
