<div class='col-md-3'></div>
	<div class='col-md-5'>
		<div class="all_content">
			<table class="table table-striped" id="list"></tr></th>
    			<thead>
    				<tr>
    					<th><h1 id="univeristy_title"><%= @university.name %></h1></th>
    					<th></th>
    					<th><img id="uni_picture" src=<%= @university.image %>></th>
    				</tr>	
      				<tr>
        				<th>Course Name</th>
        				<th>IB Points</th>
        				<th>A Levels</th>
      				</tr>
    			</thead>
    			<tbody>
      				<% @courses.each do |course| %>
      					<tr>
        					<td><%= link_to course.name, course_path(course) %></td>
        					<td><%= course.ibpoints %></td>
        					<td><%= course.alevels %></td>
      					</tr>
        			<% end %>
    			</tbody>
 			</table>
		</div>
	</div>
			

