<!DOCTYPE html>
<html>
<head>
  <title>Hitbuk</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<%= render('layouts/navbar.html.erb') %>
  <%= javascript_include_tag 'application' %>
<%= yield %>

</body>


</html>
