<!DOCTYPE html>
<html>
<head>
  <title>Hitbuk</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render('layouts/navbar.html.erb') %>
<%= yield %>

</body>

<div id="footer"><!--footer-->
<p align="center"><b>Helpful Links</b></p>
  <div class="container">
      	<div class="row">
          <ul class="list-unstyled">
            <li class="col-sm-4 col-xs-6">
              <a href="#">Home</a>
            </li>
            <li class="col-sm-4 col-xs-6">
              <a href="#">University Search</a>
            </li>
            <li class="col-sm-4 col-xs-6">
              <a href="#">Terms of Service</a>
            </li>
            <li class="col-sm-4 col-xs-6">
              <a href="#">About</a>
            </li>
            <li class="col-sm-4 col-xs-6">
              <a href="#">Forum</a>
            </li>
           <li class="col-sm-4 col-xs-6">
              <a href="#">Contact</a>
            </li>
             <li class="col-sm-4 col-xs-6">
              <a href="#">Log In</a>
            </li>
            <li class="col-sm-4 col-xs-6">
              <a href="#">Featured Discussions</a>
            </li>
            <li class="col-sm-4 col-xs-6">
              <a href="#">Privacy</a>
            </li>
          </ul>
		</div><!--/row-->

  </div><!--/container-->
</div><!--/footer-->
</html>
